/* style.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Sacramento", cursive, bold; /* Fallback font family */
  text-align: center; /* Center-align text */
  margin: 0; /* Remove default margin */
  background-color: #ee6d6d; /* Set background color to light pink */
}

#valentine-container {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center-align items vertically */
  height: 100vh; /* Make the container full viewport height */
}

#image-container {
}

#question {
  font-family: "Sacramento", cursive, bold; /* Apply Sacramento font to the question */
  font-size: 32px; /* Set font size for the question */
}

#options {
  margin-top: 50px; /* Add space above the options */
}

button {
  padding: 10px 20px; /* Set padding for buttons */
  margin: 0 10px; /* Set margin around buttons */
  font-size: 25px; /* Set font size for buttons */
  font-family: "Sacramento", cursive; /* Apply Sacramento font to the options */
  background-color: #ffcdcd; /* Set yes-button background color */
  color: rgb(10, 9, 9); /* Set text color to white */
  border-radius: 8px;
  cursor: pointer; /* Set cursor to pointer on hover */
}